﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SzablonStrony.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<%@ Register src="Kontrolki/NoweProdukty.ascx" tagname="NoweProdukty" tagprefix="uc1" %>
<%@ Register Src="~/Kontrolki/WybraneProdukty.ascx" TagPrefix="uc1" TagName="WybraneProdukty" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:NoweProdukty ID="NoweProdukty2" runat="server" />
    <br />
    <uc1:WybraneProdukty runat="server" ID="WybraneProdukty" />
</asp:Content>

