﻿body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
    color: #000033;
    background-color: white;
    margin: 0px;
}

#PierwszyObszarBoczny {
    float: left;
    width: 200px;
    height: 300px;
}

#DrugiObszarBoczny {
    float: right;
    width: 200px;
    height: 300px;
}

#Menu {
    background-color: #55BBFF;
    font-size: 7.5pt;
}

#ObszarLogowania {
    text-align: right;
    background-color: #C3DBEA;
    padding: 5px 10px 5px 10px;
}

#ObszarRoboczy {
    background-color: #EEE;
    padding: 50px 20px 50px 20px;
    margin: 0px 200px 0px 200px;
}

.ElementMenuNadrzednego {
    color: #000033;
    font-weight: bold;
    padding: 3px 10px;
}

.ElementMenuRozwijanego {
    background: #F5F5F5;
    color: #000033;
    padding: 3px 10px;
}

.ZaznaczonyElementMenu {
    background: #000033;
    color: White;
}

.OknoProduktow {
    background-color: #C3DBEA;
    border-style: solid;
    border-color: #55BBFF;
    margin: 5px auto 0px auto;
    width: 120px;
}

.LinkObszaruLogowania {
    color: #000033;
}

.watermarked {
height:20px;
width:150px;
padding:2px 0 0 2px;
border:1px solid #BEBEBE;
background-color:#F0F8FF;
color:gray;
}